<h1>Listado de pokemon</h1>
<div class="layout">
    <div class="pokemon-card">
        <search-pokemon></search-pokemon>
        <div class="pokemon-container" > 
            <div class="pokemon-list">
                <pokemon-card></pokemon-card>
                <pokemon-card></pokemon-card>
                <pokemon-card></pokemon-card>
                <pokemon-card></pokemon-card>
            </div>
            <div class="pokemon-detail">
                <pokemon-detail></pokemon-detail>
            </div>
        </div>
    </div>
</div>